 .wrapper {
        max-width: 1200px;
        min-width: 800px;
        width: 90%;
        height: 2000px;
        margin: 0 auto;

    }

 #title{
     background: #75d9ce;
    max-width: 1200px;
    height:50px;
    display: flex;
    justify-content: center;

 }
 #list{
    background: #bfeeec;
    max-width: 1200px;
    height:200px;
    display: flex;
    justify-content: center;

}

 #modifywindow {
    margin-top: 20px;
    background: #e9e6e2;
    height: 500px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size:11px;
            color:#333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }
        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }
        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }

