<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <link href="../static/css/result.css" rel="stylesheet">

</head>
<body>

<div class="wraper">
    <div id="title">
                    <h2> Search results </h2>
        </div>

    <div class="sub" id="list">
        <div id="content" >

<!--                     Show the information that return from database   显示查询到的学生信息-->



            <ul>

       {%for data in list %}

        <li>  id:<label id = 'id'>{{data.id}}  </label>,
           name:  <label id="name">{{data.name}}</label>,
           age:  <label id="age">{{data.age}}</label>,
            gender: <label id="gender">{{data.gender}}</label>,
            email:  <label id = 'email'>{{data.email}}</label>,

            <button  class = "deletebtn" type="button" >Delete</button>
              <button class="modifybtn" type="button" >Modify</button>
        </li>
                {% else %}
<!--                 If there is no student in database-->
                <h4> emmm, We don't have this student information. </h4>
                <img src="../static/images/dino.png" alt="" width="150" height="150" >
         {% endfor %}
         </ul>



        </div>

    </div>

    <div class="sub" id="modifywindow" >


        <div id="inputs" style="display: none">
<!--默认学号不可修改 Show input fields -->
  Student ID:<br>
    <input type="text" id = 'inputid' name="stuid" disabled='disabled' value="Mouse" >
    <br>

    Name:<br>
    <input type="text" id = 'inputname' name="name" value="Mickey">
    <br>

    Age:<br>
    <input type="text" id = 'inputage' name="age" value="Mouse">
    <br>
    Gender:<br>
    <input type="text" id = 'inputgender' name="gender" value="Mouse">
    <br>
      E-mail:<br>
    <input type="text" id = 'inputemail' name="email" value="Mouse">
    <br>
            <br>
<!--    <input type="submit" value="Submit" id="sumitinfo">-->
<!--    <button  id = "sumitinfo" type="submit"  onclick="location.href='/update/'">update</button>-->
    <button  id = "sumitinfo" type="submit"  >update</button>


        </div>

    </div>

</div>



</body>

<script type="text/javascript">
    $(document).ready(function (){
        $('.deletebtn').click(function (){
            //拿到当前按钮前面的用户学号，然后点出当前li标签，然后把学号拿去数据库删除。
            // Get the current student ID, then sent the student id to the backend.
            stuID = $(this).siblings('#id').text();  // 获取 li标签中学号的信息, get student id from lable <li>
            // todo !!!!!
            console.log(stuID);
            var stuinfo = {id:stuID}
            if(confirm('Delete ??? ')){
                      $(this).parent().remove(); // delete
                    }

           // 把学号发送到后台
                $.ajax({
                type:'POST',
                url:'/delete/',
                data:stuinfo,
                success:function (responcse){

                }
            });



        });

    //   修改学生信息。 会在下面显示一写输入框，学生学号能改，其他信息可以改
        // Change the student information, only the student id can NOT be changed.
        $(".modifybtn").click(function () {
            $('#inputs').show();

            var stuinfo = {
                 id:$(this).siblings('#id').text(),
                name:$(this).siblings('#name').text(),
                age:$(this).siblings('#age').text(),
                gender:$(this).siblings('#gender').text(),
                email:$(this).siblings('#email').text(),
            }

            //把学生信息填充到下面的修改窗口, fill the input field with the selected student infomation
            $('#inputid').val(stuinfo.id);
            $('#inputname').val(stuinfo.name);
            $('#inputage').val(stuinfo.age);
            $('#inputgender').val(stuinfo.gender);
            $('#inputemail').val(stuinfo.email);
        });

    //    点击submit把学生信息提交到后台 send the new input information to backend.
        $('#sumitinfo').click(function (){
            // 获取输入框信息
            var stuinfo = {
              id:$('#inputid').val(),
                name:$('#inputname').val(),
                age:$('#inputage').val(),
                gender:$('#inputgender').val(),
                email:$('#inputemail').val(),
            }
            console.log(stuinfo.email);

         $.ajax({
                type:'POST',
                url:'/update/',
                data:stuinfo,
                success:function (responcse){
                    // 保存成功，弹窗并清空输入框, 更新显示列表
                    console.log('ok!');
                    confirm('Update success!')
                 $('#inputid').val('');
                $('#inputname').val('');
                $('#inputage').val('');
                $('#inputgender').val('');
                $('#inputemail').val('');

                // 刷新页面，被修改的应该显示出来了, after changed the student information, flush the window.
                window.location.reload()
                }
            });


        });

    });


</script>
</html>