<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <link href="../static/css/result.css" rel="stylesheet">

<body>
<!-- <ul>-->
<!--       {%for data in list %}-->
<!--        <li>  id:<label id = 'id'>{{data.id}}  </label>,-->
<!--           name:  <label id="name">{{data.name}}</label>,-->
<!--           age:  <label id="age">{{data.age}}</label>,-->
<!--            gender: <label id="gender">{{data.gender}}</label>,-->
<!--            email:  <label id = 'email'>{{data.email}}</label>,-->

<!--        </li>-->
<!--         {% endfor %}-->
<!--         </ul>-->


  <table class="gridtable">
        <tr>
    <th>ID</th><th>Name</th><th>Age</th><th>Gender</th>
    <th>Email</th>
</tr>

    {% for data in list %}
        <tr><td id="id">{{ data.id }}</td>
            <td id="name">{{ data.name }}</td>
         <td id="age">{{ data.age }}</td>
        <td id="gender">{{ data.gender }}</td>
         <td id="email"> {{ data.email }}</td>

        </tr>

    {% endfor %}

</table>


</body>
</html>